/*mapa*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%; }

.i_cabecera {
  grid-area: header;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: #8D99AE; }
  .i_cabecera .i_logo {
    width: 20%; }

.i_pie {
  width: 100%;
  grid-area: footer;
  display: grid;
  grid-template-areas: "info mapa" "fin fin";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  border-top: solid 2px #75849d;
  color: #2B2D42;
  background-color: #8D99AE; }
  .i_pie .i_info {
    grid-area: info;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 5%; }
    .i_pie .i_info .i_pie_f {
      color: #2a38d2; }
      .i_pie .i_info .i_pie_f:hover {
        transform: translateY(-10px);
        color: var(--color); }
    .i_pie .i_info .i_pie_i {
      color: #ea1e1e; }
      .i_pie .i_info .i_pie_i:hover {
        transform: translateY(-10px);
        color: var(--color); }
    .i_pie .i_info .i_pie_w {
      color: #269436; }
      .i_pie .i_info .i_pie_w:hover {
        transform: translateY(-10px);
        color: var(--color); }
  .i_pie .i_mapa {
    grid-area: mapa;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 300; }
    .i_pie .i_mapa .mapa {
      height: 300px;
      width: 300px;
      margin-left: 5%;
      overflow: hidden; }
  .i_pie .i_final {
    grid-area: fin;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 800;
    margin-top: 1%;
    background-color: #8D99AE; }

.i_body {
  background-color: #d1dcdc; }
  .i_body .sec_tion_flota {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    list-style: none;
    text-align: center;
    position: fixed;
    bottom: 5%;
    right: 4%;
    border: double 1px #75849d;
    background-color: #8D99AE;
    z-index: 10; }
    .i_body .sec_tion_flota:hover {
      text-decoration: none;
      list-style: none;
      color: #ddeae9; }
  .i_body .i_prin {
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .i_body .i_prin .i_prin_h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      line-height: 220%;
      text-align: center;
      font-size: 60px;
      color: #2B2D42; }
    .i_body .i_prin .i_prin_sec {
      width: 100%; }
      .i_body .i_prin .i_prin_sec .i_imgc {
        height: 600px; }
  .i_body .i_sec3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%; }
    .i_body .i_sec3 .i_sec3_secsec {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      font-size: 36px;
      font-weight: 700;
      color: #2B2D42; }
      .i_body .i_sec3 .i_sec3_secsec .i_sec3_secsec_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 180px;
        padding: 3%;
        background-color: #8D99AE;
        margin-bottom: 5%; }
    .i_body .i_sec3 .i_aside {
      grid-area: aside;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-weight: 800;
      color: #2B2D42; }
      .i_body .i_sec3 .i_aside .i_aside_card {
        background-color: #8D99AE; }
        .i_body .i_sec3 .i_aside .i_aside_card .i_aside_img {
          width: 100%;
          height: 300px; }
        .i_body .i_sec3 .i_aside .i_aside_card .i_aside_h3 {
          text-align: center;
          margin-bottom: 1%; }
        .i_body .i_sec3 .i_aside .i_aside_card .i_aside_a {
          text-align: center;
          list-style: none; }
          .i_body .i_sec3 .i_aside .i_aside_card .i_aside_a:hover {
            background-color: #8D99AE;
            color: #ddeae9; }

.i_body {
  background-color: #d1dcdc; }
  .i_body .n_main_h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
    color: #2B2D42; }
  .i_body .n_main_p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    color: #2B2D42; }
  .i_body .n_section {
    grid-area: n_section;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #2B2D42; }
    .i_body .n_section .n_section_vid {
      width: 90%; }
    .i_body .n_section .n_section_p {
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      font-weight: 500; }
    .i_body .n_section .n_section_img {
      width: 90%;
      height: 320px; }

.s_prin {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #2B2D42;
  margin-bottom: 5%; }
  .s_prin .s_prin_h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #2B2D42; }
  .s_prin .s_prin_h2 {
    text-align: center;
    font-weight: 700; }
  .s_prin .s_prin_p {
    margin: auto;
    width: 70%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2%; }

.s_sec .s_sec_d {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1%;
  margin-bottom: 5%; }
  .s_sec .s_sec_d .s_sec_dd {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #2B2D42;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
    .s_sec .s_sec_d .s_sec_dd .s_h4 {
      font-size: 36px;
      margin-left: 2%; }
    .s_sec .s_sec_d .s_sec_dd .s_sec_p {
      width: 70%;
      margin: auto; }
  .s_sec .s_sec_d .s_sec_d_img {
    width: 350px;
    height: 350px;
    margin: 2%; }

.e_prin {
  grid-area: e_main;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%; }
  .e_prin .e_prin_d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%; }
    .e_prin .e_prin_d .e_prin_h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 48px;
      font-weight: 700;
      color: #2B2D42;
      text-align: center; }
    .e_prin .e_prin_d .e_prin_h3 {
      font-family: 'Poppins', sans-serif;
      font-size: 30px;
      text-align: center;
      font-weight: 500;
      margin-left: 2%;
      margin-bottom: 2%;
      margin-top: 2%;
      color: #2B2D42; }

.e_sec .e_sec_d1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .e_sec .e_sec_d1 .e_sec_ol {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 2%;
    font-weight: 700;
    color: #2B2D42; }
  .e_sec .e_sec_d1 .e_prin_img {
    height: 400px;
    width: 400px;
    margin-right: 6%; }

.e_sec .e_imgmas {
  width: 90%;
  height: 320px;
  margin-left: 5%;
  margin-bottom: 5%; }

.e_sec2 {
  grid-area: e_section2;
  width: 40%;
  margin-left: 15%; }
  .e_sec2 .e_sec22 .e_sec2_h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #2B2D42;
    margin-bottom: 3%;
    margin-left: 1%; }
  .e_sec2 .e_sec22 .e_table {
    width: 100%;
    background-color: #8D99AE;
    border: 5px solid #75849d;
    padding-right: 2%; }
    .e_sec2 .e_sec22 .e_table .e_sec3_tr {
      font-family: 'Poppins', sans-serif;
      position: relative;
      left: 1%;
      font-size: 18px;
      font-weight: 500;
      margin-left: 1%;
      color: #2B2D42; }
      .e_sec2 .e_sec22 .e_table .e_sec3_tr .e_sec3_td {
        font-weight: 700; }

.i_body .c_main {
  margin-bottom: 3%; }
  .i_body .c_main .c_main_div {
    width: 90%;
    margin: auto; }
    .i_body .c_main .c_main_div .c_prin_h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      margin-top: 2%;
      margin-bottom: 1%;
      color: #2B2D42; }
    .i_body .c_main .c_main_div .c_form {
      width: 70%;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 800;
      text-align: center;
      color: #2B2D42;
      line-height: 150%;
      position: relative;
      margin: auto;
      padding: 1%;
      padding-bottom: 1%;
      background-color: #7b8699;
      border: double 5px black; }
      .i_body .c_main .c_main_div .c_form div .c_name {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        margin-bottom: 1%;
        width: 50%; }
      .i_body .c_main .c_main_div .c_form div .c_name {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        margin-bottom: 1%;
        width: 50%; }
      .i_body .c_main .c_main_div .c_form div .c_namee {
        width: 49%; }
      .i_body .c_main .c_main_div .c_form div .c_atent {
        width: 50%; }
      .i_body .c_main .c_main_div .c_form div .c_coment {
        font-family: 'Poppins', sans-serif;
        width: 40%;
        height: 300px;
        margin-bottom: 1%; }
      .i_body .c_main .c_main_div .c_form div .boton_env {
        width: 30%; }

@media screen and (max-width: 1000px) {
  .ibody .i_prin .i_prin_h1 {
    font-size: 30px; }
  .ibody .i_prin .i_prin_sec .i_imgc {
    height: 500px; }
  .ibody .i_sec3 .i_sec3_secsec .i_sec3_secsec_div {
    font-size: 28px; } }

@media screen and (max-width: 800px) {
  .i_body .i_logo {
    width: 40%; }
  .i_body .i_prin .i_prin_h1 {
    font-size: 30px; }
  .i_body .i_prin .i_prin_sec .i_imgc {
    height: 300px; }
  .i_body .i_pie .i_mapa .mapa {
    height: 200px;
    width: 200px; }
  .i_body .i_sec3 {
    display: flex;
    flex-direction: column; }
    .i_body .i_sec3 .i_sec3_secsec .i_sec3_secsec_div {
      font-size: 28px; } }

@media screen and (max-width: 650px) {
  .i_body .i_prin .i_prin_h1 {
    font-size: 30px; }
  .i_body .i_prin .i_prin_sec .i_imgc {
    height: 300px; }
  .i_body .i_prin .i_sec3 .i_sec3_secsec .i_sec3_secsec_div {
    font-size: 24px; }
  .i_body .i_pie .i_mapa .mapa {
    height: 160px;
    width: 160px; }
  .i_body .n_section_img {
    height: 200px; } }

@media screen and (max-width: 500px) {
  .i_body .nav_w {
    height: 400px; }
  .i_body .i_prin .i_prin_h1 {
    font-size: 28px; }
  .i_body .i_prin .i_prin_sec .i_imgc {
    height: 300px; }
  .i_body .i_pie .i_mapa .mapa {
    height: 120px;
    width: 120px; }
  .i_body .n_main .n_main_h1 {
    font-size: 28px; }
  .i_body .n_main .n_main_p1 {
    font-size: 22px; }
  .i_body .n_section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%; }
    .i_body .n_section .n_section_p {
      font-size: 20px; }
  .i_body .i_pie .i_mapa {
    width: 100%; }
    .i_body .i_pie .i_mapa .mapa {
      justify-content: center;
      height: 120px;
      width: 120px; }
  .s_prin .s_prin_h1 {
    font-size: 28px; }
  .s_prin .s_prin_p {
    font-size: 24px; }
  .s_sec .s_sec_d {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%; }
    .s_sec .s_sec_d .s_sec_dd .s_h4 {
      text-align: center;
      margin-bottom: 1%; }
    .s_sec .s_sec_d .s_sec_d_img {
      height: 200px;
      width: 200px; } }

.c_main .c_main_div .c_prin_h1 {
  font-size: 28px; }

.c_main .c_main_div .c_form div .c_name {
  font-size: 16px; }

.c_main .c_main_div .c_form div .c_coment {
  height: 150px; }
