.i_pie{
    width: 100%;
    border-top: solid 2px #75849d;
    color: $color-texto;
    background-color: $color-fondo;
    .i_info{
        .im_pie_p{
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 500;
        }
        .i_pie_f{
            font-size: 32px;
            color: #2a38d2;
            &:hover{
                transform:translateY(-10px);
                color: var(--color);
            }
        }
        .i_pie_i{
            font-size: 32px;
            color:#ea1e1e;
            &:hover{
                transform:translateY(-10px);
                color: var(--color);
            }
        }
        .i_pie_w{
            font-size: 32px;
            color:#269436;
            &:hover{
                transform:translateY(-10px);
                color: var(--color);
            }
        }
    }
    .i_mapa{
        .mapa{
            height: 250px;
            width: 100%;
            overflow: hidden;
        }
    }
    .i_final{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 800;
        background-color: $color-fondo;
    }
}