@media screen and (max-width: 1000px){
.ibody{
    .i_prin{
        .i_prin_h1{
            font-size: 30px;
        }
        .i_prin_sec{
           .i_imgc{
            height: 500px;
           }
        }
    }
    .i_sec3{
        .i_sec3_secsec{
            .i_sec3_secsec_div{
                font-size: 28px;
            }
        }
    }
}
}