@media screen and (max-width:800px) { 
.i_body{
    .i_logo{
        width: 40%;
    }
    .i_prin{
        .i_prin_h1{
            font-size: 30px;
        }
        .i_prin_sec{
           .i_imgc{
            height: 300px;
           }
        }
    }
    .i_pie{
        .i_mapa{
            .mapa{
                height: 200px;
            }
        } 
    }
    .i_sec3{
        display: flex;
        flex-direction: column;
        .i_sec3_secsec{
            .i_sec3_secsec_div{
                font-size: 28px;
            }
        }
    }  
}
}