$color-primario: #d1dcdc;
$color-texto:#2B2D42;
$color-fondo:#8D99AE;


$redes:(
    facebook: #2a38d2,
    instagram: #ea1e1e,
    whatsapp: #269436
);

$fuentes:(
    thin:100,
    light:300,
    bold:700,
    black:900
);