@import "variables";
@import "mixin";
@import "fuentes";
@import "reset";
@import "header";
@import "footer";
@import "index";
@import "nosotros";
@import "mq500";
@import "mq650";
@import "mq800";
@import "mq1000";

.s_cabecera{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color:#8D99AE;
}
.s_prin{
    font-family: 'Poppins', sans-serif;   
    font-size: 20px;
    color: #2B2D42;
    margin-bottom: 5%;
}
.s_prin_h1{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #2B2D42;
}
.s_prin_h2{
    text-align: center;
    font-weight: 700;
}
.s_prin_p{
    margin: auto;
    width: 70%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2%;
}
.s_sec_d{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1%;
    margin-bottom: 5%;
}
.s_sec_dd{
    font-family: 'Poppins', sans-serif;   
    font-size: 20px;
    color: #2B2D42;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.s_h4{
    font-size: 36px;
    margin-left: 2%;
}
.s_sec_p{
    width: 70%;
    margin: auto;
}
.s_sec_d_img{
    width: 350px;
    height: 350px;
    margin: 2%;
}
.s_pie{
    grid-area: s_footer;
    display: grid;
    grid-template-areas: 
    "info mapa"
    "fin fin";
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    border-top: solid 2px #75849d;
    color: #2B2D42;
    background-color:#8D99AE;
}
@media screen and (max-width:500px){
    .s_grid{
        width: 100%;
        display: grid;
        grid-template-areas:
        "sm_header"
        "sm_main"
        "sm_section"
        "sm_footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .sm_header{
        grid-area: sm_header;
        display: flex;
        flex-direction: column;
    }
    .sm_main{
        grid-area: sm_main;
        margin-bottom: 3%;
    }
    .s_prin_h1{
        font-size: 36px;
        font-weight: 700;
    }
    .s_prin_p{
        font-size: 24px;
    }
    .s_h4{
        margin: 0%;
        font-size: 24px;
        font-weight: 700;
    }
    .sm_section{
        grid-area: sm_section;
    }
    .s_sec_d{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
    }
    .s_h4{
        text-align: center;
        margin-bottom: 1%;
    }
    .s_sec_d_img{
        height: 300px;
        width: 300px;
    }
    .sm_footer{
        grid-area: sm_footer;
    }
    .im_pie_p{
        font-size: 18px;
    }
    .im_pie_pp{
        font-size: 18px;
    }
} 
.c_cabecera{
    display: flex;
    flex-direction: column;
}
.c_main{
    margin-bottom: 3%;
}
._c_main_div{
    width: 90%;
    margin: auto;
}
.c_prin_h1{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #2B2D42;
}
.c_form{
    width: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #2B2D42;
    line-height: 150%;
    position: relative;
    margin: auto;
    padding:1%;
    padding-bottom:1%;
    background-color:#7b8699;
    border: double 5px black;
    
}
.c_name{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-bottom: 1%;
    width: 50%;
}
.c_namee{
    width: 49%;
}
.c_atent{
    width: 50%;
}
.c_coment{
    font-family: 'Poppins', sans-serif;
    width: 40%;
    margin-bottom: 1%;
}
.boton_env{
    width: 30%;
}
.c_pie{
    display: grid;
    grid-template-areas: 
    "info mapa"
    "fin fin";
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    border-top: solid 2px #75849d;
    color: #2B2D42;
    background-color:#8D99AE;
}
@media screen and (max-widht:500px){
    .c_name{
        font-size: 16px;
    }
}
.e_cabecera{
    display: flex;
    flex-direction: column;
}
.e_prin{
    grid-area: e_main;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 2%;
}
.e_prin_d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.e_prin_h1{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #2B2D42;
    text-align: center;
}
.e_prin_h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    color: #2B2D42;
}
.e_prin_img{
    height: 400px;
    width: 400px;
    margin-right: 6%;
}
.e_imgmas{
    width: 90%;
    height:320px ;
    margin-left: 5%;
    margin-bottom: 5%;
}
.e_sec_d1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.e_sec_ol{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 2%;
    font-weight: 700;
    color: #2B2D42;
}
.e_sec2{
    grid-area: e_section2;
    width: 40%;
    margin-left: 15%;
}
.e_sec2_h2{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #2B2D42;
    margin-bottom: 3%;
    margin-left: 1%;
}
.e_table{
    width: 100%;
    background-color:#8D99AE;
    border: 5px solid #75849d;
    padding-right: 2%;
}
.e_sec3_tr{
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 1%;
    font-size: 18px;
    font-weight: 500;
    margin-left: 1%;
    color: #2B2D42;
}
.e_sec3_td{
    font-weight: 700;
}
.e_pie{
    grid-area: e_footer;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "info mapa"
    "fin fin";
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    border-top: solid 2px #75849d;
    color: #2B2D42;
    background-color:#8D99AE;
}
