 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
.i_body{
    background-color: #d1dcdc;
}
.i_grid{
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "section aside"
    "footer footer";
    grid-template-columns: auto 40%;
    grid-template-rows: 25% auto 60% 55%;
    height: 100vh;
}
.i_cabecera{
    grid-area: header;
    display: flex;
    flex-direction: column;
}
.i_cabecera_img{
    width: 100%;
    height: 80%;
}
.i_cabecera_nav_ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color:#8D99AE;
    color: #2B2D42;
}
.i_nav{
    text-decoration: none;
    color: rgb(17, 14, 14);
}
.i_nav:hover{
    color: rgb(221, 234, 233);
}
.i_prin{
    grid-area: main;
    display:flex;
    flex-direction: column;
    width: 100%;
}
.i_prin_h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 220%;
    text-align: center;
    font-size: 60px;
    color: #2B2D42;
}
.i_prin_sec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.i_prin_sec_img{
    width: 48%;
    height: 75%;
}
.i_secsec{
    height: 100%;
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #2B2D42;
}
.i_aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #2B2D42;
}
.i_aside_h3{
   text-align: center; 
   margin-bottom: 1%;
}
.i_aside_img{
    width: 70%;
    height: 70%;
    margin-bottom: 2%;
}
.i_aside_a{
    width: 40%;
    text-decoration: none;
    color: rgb(17, 14, 14);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.i_aside_a:hover{
    background-color: #75849d ;
    color: rgb(221, 234, 233);
}
.i_pie{
    width: 100%;
    grid-area: footer;
    display: grid;
    grid-template-areas: 
    "info mapa"
    "fin fin";
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    border-top: solid 2px #75849d;
    color: #2B2D42;
    background-color:#8D99AE;
}
.i_info{
    grid-area: info;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 5%;
}
.i_pie_f{
    color: #2a38d2;
}
.i_pie_i{
    color:#ea1e1e;
}
.i_pie_w{
    color:#269436;
}
.i_pie_f:hover{
    transform:translateY(-10px);
    color: var(--color);
}
 .i_pie_i:hover{
    transform:translateY(-10px);
    color: var(--color);
}
 .i_pie_w:hover{
    transform:translateY(-10px);
    color: var(--color);
}
.i_mapa{
    grid-area: mapa;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 300;
}
.mapa{
    height: 300px;
    width: 300px;
    margin-left: 2%;
    overflow: hidden;
}
.i_final{
    grid-area: fin;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 800;
    margin-top: 1%;
    background-color: #75849d;
}
.flota{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 15%;
    padding-top:1%;
    padding-bottom: 1%;
    text-decoration:none;
    list-style: none;
    text-align: center;
    position:fixed ;
    bottom: 5%;
    right: 4%;
    border: double 1px #75849d;
    background-color: #8D99AE;
    z-index: 10;
}
.flota:hover{
    text-decoration:none;
    list-style: none;
    color: rgb(221, 234, 233);
}
@media screen and (max-width:800px) {
    .mm_mapa{
         height: 250px;
         width: 250px;
    } 
    .i_aside_img{
        width: 70%;
        height: 50%;
    }
    .i_secsec{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        color: #2B2D42;
    }
 }
@media screen and (max-width:650px){
    .mm_mapa{
        height: 180px;
        width: 180px;
    }
}
@media screen and (max-width:500px){
    .i_grid{
        width: 100%;
        display: grid;
        grid-template-areas: 
        "im_header"
        "im_main"
        "im_section"
        "im_aside"
        "im_footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .im_cabecera{ 
        grid-area: im_header;
    }
    .im_prin{
        grid-area: im_main;
    }
    .im_secsec{
        grid-area: im_section;
    }
    .im_aside{
        grid-area: im_aside;
    }
    .im_pie{
        grid-area: im_footer;
    }
    .i_cabecera_nav_ul{ 
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding: 1%;
    }
    .i_cabecera_img{
        max-width: fit-content;
        width: 100%;
        height: 60%;
    }
    .i_prin{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .i_prin_h1{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        line-height: 200%;
        text-align: center;
        font-size: 30px;}
    .i_prin_sec{
        display: flex;
        flex-direction: column;
    }
    .i_prin_sec_img{
        display: flex;
        flex-direction: reverse-row;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5%;
        width: 80%;
        height: 45%;
    }
    .i_secsec{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: #2B2D42;
    }
    .i_aside{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 800;
        color: #2B2D42;
    }
    .i_aside_img{
        width: 50%;
        height: 50%;
    }
    .i_aside_a{
        font-size: 20px;
        width: 30%;
        margin: 1%;
        text-decoration: none;
        color: rgb(17, 14, 14);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    .i_info{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin-top: 1%;
        margin-left: 1%;
    }
    .i_mapa{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 300;
    }
    .mapa{
        height: 80%;
        width: 90%;
    }
    .i_final{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 800;
        margin-top: 1%;
        background-color: #75849d;
    }
    ._flota{
        padding-right: 1%;
    }
}
.n_body{
    background-color: #d1dcdc;
}
.n_grid{
    display: grid;
    grid-template-areas: 
    "n_header n_header"
    "n_main n_section"
    "n_main n_section"
    "n_footer n_footer";
    grid-template-columns: 60% 40%;
    grid-template-rows: 25% auto auto auto;
    height: 100vh;
}
.n_cabecera{
    grid-area: n_header;
    display: flex;
    flex-direction: column;

}
.n_main{
    grid-area: n_main;
}
.n_main_h1{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    color: #2B2D42;
}
.n_main_p1{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    color: #2B2D42;
}
.n_main_p2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #2B2D42;
}
.n_section{
    grid-area: n_section;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #2B2D42;
}
.n_section_vid{
    width: 90%;
}
.n_section_img{
    width: 90%;
}
.n_section_p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.n_pie{
    grid-area: n_footer;
    width: 100%;
    display: grid;
    grid-template-areas:  
    "info mapa"
    "fin fin";
    grid-template-columns: 60% 40%;
    grid-template-rows: 90% 10%;
    border-top: solid 2px #75849d;
    color: #2B2D42;
    background-color:#8D99AE;
}
@media screen and (max-width:500px){
    .n_grid{
        display: grid;
        grid-template-areas: 
        "nm_header"
        "nm_main"
        "nm_section"
        "nm_pie";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .nm_cabecera{
        grid-area: nm_header;
    }
    .n_main_p1{
        font-size: 24px;
    }
    .n_main_p2{
        font-size: 24px;
        margin-bottom: 2%;
    }
    .n_section_p{
        font-size: 20px;
    }

    .nm_main{
        grid-area: nm_main;
    }
    .nm_section{
        grid-area: nm_section;
        margin-bottom: 2%;
    }
    .nm_pie{
        grid-area: nm_pie;
    }
    
}
.s_grid{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "s_header"
    "s_main"
    "s_section"
    "s_footer";
    grid-template-columns: auto;
    grid-template-rows: 25% auto auto auto;
    height: 100vh;
}
.s_cabecera{
    grid-area: s_header;
    display: flex;
    flex-direction: column;
}
.s_prin{
    grid-area: s_main;
    font-family: 'Poppins', sans-serif;   
    font-size: 20px;
    color: #2B2D42;
}
.s_prin_h1{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #2B2D42;
}
.s_prin_h2{
    text-align: center;
    font-weight: 700;
}
.s_prin_p{
    margin: auto;
    width: 70%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2%;
}
.s_sec{
    grid-area: s_section;

}
.s_sec_d{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1%;
}
.s_sec_dd{
    font-family: 'Poppins', sans-serif;   
    font-size: 20px;
    color: #2B2D42;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.s_h4{
    font-size: 36px;
    margin-left: 2%;
}
.s_sec_p{
    width: 70%;
    margin: auto;
}
.s_sec_d_img{
    width: 350px;
    height: 350px;
    margin: 2%;
}
.s_pie{
    grid-area: s_footer;
    display: grid;
    grid-template-areas: 
    "info mapa"
    "fin fin";
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    border-top: solid 2px #75849d;
    color: #2B2D42;
    background-color:#8D99AE;
}
@media screen and (max-width:500px){
    .s_grid{
        display: grid;
        grid-template-areas:
        "sm_header"
        "sm_main"
        "sm_section"
        "sm_footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .sm_header{
        grid-area: sm_header;
        display: flex;
        flex-direction: column;
    }
    .sm_main{
        grid-area: sm_main;
        margin-bottom: 3%;
    }
    .s_prin_h1{
        font-size: 36px;
        font-weight: 700;
    }
    .s_prin_p{
        font-size: 24px;
    }
    .sm_section{
        grid-area: sm_section;
    }
    .s_sec_d{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
    }
    .s_h4{
        text-align: center;
        margin-bottom: 1%;
    }
    .s_sec_d_img{
        height: 300px;
        width: 300px;
    }
    .sm_footer{
        grid-area: sm_footer;
    }
    .i_pie_p{
        font-size: 18px;
    }
    .i_pie_pp{
        font-size: 18px;
    }
} 
.c_grid{
    width: 100%;
    display: grid;
    grid-template-areas:
    "c_header"
    "c_main"
    "c_footer";
    grid-template-columns: auto;
    grid-template-rows: 12% auto auto;
}
.c_cabecera{
    grid-area: c_header;
    display: flex;
    flex-direction: column;
}
.c_main{
    grid-area: c_main;
    margin-bottom: 3%;
}
._c_main_div{
    width: 90%;
    margin: auto;
}
.c_prin_h1{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #2B2D42;
}
.c_form{
    width: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #2B2D42;
    line-height: 150%;
    position: relative;
    margin: auto;
    padding:1%;
    padding-bottom:1%;
    background-color:#7b8699;
    border: double 5px black;
    
}
.c_name{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-bottom: 1%;
    width: 50%;
}
.c_namee{
    width: 49%;
}
.c_atent{
    width: 50%;
}
.c_coment{
    font-family: 'Poppins', sans-serif;
    width: 40%;
    margin-bottom: 1%;
}
.boton_env{
    width: 30%;
}
.c_pie{
    grid-area: c_footer;
    display: grid;
    grid-template-areas: 
    "info mapa"
    "fin fin";
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    border-top: solid 2px #75849d;
    color: #2B2D42;
    background-color:#8D99AE;
}
.e_grid{
    width: 100%;
    display: grid;
    grid-template-areas:
    "e_header"
    "e_main"
    "e_section"
    "e_section2"
    "e_footer" ;
    grid-template-columns: auto ;
    grid-template-rows: 9% auto auto auto auto;
}
.e_cabecera{
    grid-area: e_header;
    display: flex;
    flex-direction: column;
}
.e_prin{
    grid-area: e_main;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 2%;
}
.e_prin_d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.e_prin_h1{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #2B2D42;
    text-align: center;
}
.e_prin_h3{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    color: #2B2D42;
}
.e_prin_img{
    height: 400px;
    width: 400px;
    margin-right: 6%;
}
.e_sec{
    grid-area: e_section;
}
.e_sec_d1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.e_sec_ol{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 2%;
    font-weight: 700;
    color: #2B2D42;
}
.e_sec2{
    grid-area: e_section2;
    width: 40%;
    margin-left: 15%;
}
.e_sec2_h2{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #2B2D42;
    margin-bottom: 3%;
    margin-left: 1%;
}
.e_table{
    width: 100%;
    background-color:#8D99AE;
    border: 5px solid #75849d;
    padding-right: 2%;
}
.e_sec3_tr{
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 1%;
    font-size: 18px;
    font-weight: 500;
    margin-left: 1%;
    color: #2B2D42;
}
.e_sec3_td{
    font-weight: 700;
}
.e_pie{
    grid-area: e_footer;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "info mapa"
    "fin fin";
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    border-top: solid 2px #75849d;
    color: #2B2D42;
    background-color:#8D99AE;
}
@media screen and(max-width:500px) {
    .e_grid{
        display: grid;
        grid-template-areas: 
        "em_header"
        "em_prin"
        "em_sec"
        "em_sec2"
        "em_pie";
        grid-template-columns: auto;
        grid-template-rows: 25% auto auto auto auto;
    }
    .em_header{
        width: 100%;
        grid-area: em_header;
        display: flex;
        flex-direction: column;
    }
    .em_prin{
        width: 100%;
        grid-area: em_prin;
        text-align: center;
    }
    .em_sec{
        grid-area: em_sec;
    }
    .e_sec_d1{
        display: flex;
        flex-direction: column;
    }
    .em_sec2{
        grid-area: em_sec2;
    }
    .em_pie{
        grid-area: em_pie;
    }
    
}